---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

<div class="footer_site">
<hr/>
<div class="footer_copyright">
  © 2023 XUPT · Zhenzhou Tian | Powered by the&nbsp
  <a class="page_a"  href="https://github.com/RayeRen/acad-homepage.github.io">
  acad | 
  </a>
  <!--不算子网站访客统计-->
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
  </script>
  <!-- pv的方式，单个用户连续点击n篇文章，记录n次访问量 -->
  <div align="center">
  <span id="busuanzi_container_site_pv" style="font-family:Consolas;color:Silver;font-size:12px;">
  查看数:<span id="busuanzi_value_site_pv" style="font-family:Consolas;color:Silver;font-size:12px;"></span>
  </span>
  <!-- uv的方式，单个用户连续点击n篇文章，只记录1次访客数 -->
  <span id="busuanzi_container_site_uv" style="font-family:Consolas;color:Silver;font-size:12px;">
  | 访客数:<span id="busuanzi_value_site_uv" style="font-family:Consolas;color:Silver;font-size:12px;"></span>
  </span>
  </div>
</div>
</div>
  </body>
</html>
